---
name: stratis-docs CI

# yamllint disable-line rule:truthy
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

  workflow_dispatch:

jobs:
  docs-checks:
    runs-on: ubuntu-latest
    container: fedora:42  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install dependencies
        run: dnf install -y make lyx 'dnf-command(copr)'
      - name: Enable copr repo
        run: dnf copr enable pgdev/zola --assumeyes
      - name: Install zola
        run: dnf install zola --assumeyes
      - name: Run test
        run: make -f Makefile check

  ci-checks:
    runs-on: ubuntu-latest
    container: fedora:42  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Install dependencies
        run: dnf install -y make yamllint
      - name: Run test
        run: make -f Makefile yamllint

  spelling-checks:
    runs-on: ubuntu-latest
    container: fedora:42  # CURRENT DEVELOPMENT ENVIRONMENT
    steps:
      - name: Install dependencies for Fedora
        run: >
          dnf install -y
          clang
          make
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@master
        with:
          components: cargo
          toolchain: 1.91.0  # CURRENT DEVELOPMENT RUST TOOLCHAIN
      - uses: baptiste0928/cargo-install@v3
        with:
          crate: typos-cli
      - name: Run test
        run: make -f Makefile check-typos
